{% extends 'background/backend_layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/backend/plugins/kindeditor/themes/default/default.css"/>
{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="#">文章管理</a></li>
        <li class="active">添加文章</li>
    </ol>
    <div style="padding: 5px 8px;">
        <form method="POST" action="/backend/add-field.html/">
            {% csrf_token %}
            {% for i in form %}
                <div class="form-group">
                    {{ i.label_tag }}{{ i }}
                </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="保 存">
            </div>
        </form>
    </div>

{% endblock %}
{% block js %}
    <script charset="utf-8" src="/static/backend/plugins/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/static/backend/plugins/kindeditor/lang/zh_CN.js"></script>
    <script>
        function up() {
            $("#up").click()
        }

        function changeUpalod() {
            $('#ifm1').load(function () {
                var text = $('#ifm1').contents().find('body').text();
                var obj = JSON.parse(text);
                console.log(obj);
                $('#preview').empty();
                var imgTag = document.createElement('img');
                imgTag.src = obj.data;
                imgTag.width = 200;
                imgTag.className = "img-responsive";
                $("#aa").val(obj.data);
                $('#preview').append(imgTag);
            });
            $('#form1').submit();
        }

        KindEditor.ready(function (K) {
            var editor = K.create('textarea[name="content"]', {
                resizeType: 1
            });
        });
    </script>
{% endblock %}