<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/backend/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/backend/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/backend/css/commons.css"/>
    <link rel="stylesheet" href="/static/backend/css/backend.css"/>
    {% block css %} {% endblock %}
</head>
<body>
<div class="pg-header">
    <div class="logo left" style="text-align: center;background-color: #1c5a9c;">
        <a href="#" style="color: #ffffff;font-size:30px;font-weight: bold;text-decoration: none">
            EasyStack
        </a>
    </div>

    <div class="left-menu left">
        <a class="menu-item" href="/">网站首页</a>
    </div>

    <div class="right-menu right clearfix">

        <div class="user-info right">
            <a href="#" class="avatar">
                {% if request.session %}
                    <img style="width: 40px; height: 40px" class="img-circle" src="{{ request.session.user_info.avatar }}">
                {% else %}
                    <img class="img-circle" src="/static/backend/imgs/avatar/default.png">
                {% endif %}

            </a>

            <div class="more-info">
                <a href="/backend/base-info.html" class="more-item">个人信息</a>
                <a href="/logout.html" class="more-item">注销</a>
            </div>
        </div>

        <a class="user-menu right">
            消息
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
            <span class="badge bg-success">2</span>
        </a>

        <a class="user-menu right">
            通知
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span class="badge bg-success">2</span>
        </a>

        <a class="user-menu right">
            任务
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span class="badge bg-danger">4</span>
        </a>
    </div>

</div>
<div class="pg-body">
    <div class="menu">
        <a class="menu-item" href="/backend/article-0-0.html">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>大师管理</span>
        </a>
        <a class="menu-item" href="/backend/field.html">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>领域管理</span>
        </a>
        <a class="menu-item" href="/backend/nationality.html">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>国籍管理</span>
        </a>
        <a class="menu-item" href="/backend/base-info.html">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>个人信息</span>
        </a>
    </div>
    <div class="content">
        {% block conent %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="/static/backend/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/static/backend/js/jquery.cookie.js"></script>
{% block js %}{% endblock %}
</body>
</html>