{% extends "bak/base1.html" %}
{% block center %}
    <div class="clear"></div>
    <div class="full_section color_01 n_section dtjy01 mobileSlideBlock">
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title"> 德&nbsp; 稻&nbsp; 教&nbsp; 育&nbsp; </h2>
                    <div class="text">
                        <p>汇聚全球500余位行业大师<br>专注提供行业领先创新教育内容和综合服务</p>
                    </div>
                </div>
            </div>
            <div class="bd menu_bd">
                <div class="menus">
                    <div class="wrap">
                        <ul class=" fix">
                            <li class="cur"><a href="about.html#jump">关于我们</a></li>
                            <li class=""><a href="about/de-dao-da-shi.htm#jump">德稻大师</a></li>
                            <li class=""><a href="about/de-dao-li-cheng.htm#jump">德稻历程</a></li>
                            <li class=""><a href="about/jiao-yu-yan-jiu-yuan.htm#jump">教育研究院</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_imgBox">
            <div class="wrap">
                <ul class="fix">
                    <li class="cur"><a href="about.html#jump"><h3 class="s_title">关于我们</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/upload/images/2016/11/15/57097d58086d4a0ba6655f0a084ffcea.jpg"
                                     alt="关于我们">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>行业领先的创新教育内容<br>与综合服务提供者</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li class=""><a href="about/de-dao-da-shi.htm#jump"><h3 class="s_title">德稻大师</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/upload/images/2016/11/15/6530e030aa504fb29e336e7454e98c9c.jpg"
                                     alt="德稻大师">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>汇聚来自24个国家和地区的<br>500余位行业大师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li class=""><a href="about/de-dao-li-cheng.htm#jump"><h3 class="s_title">德稻历程</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/upload/images/2016/11/15/443228df144f4d7289defeaaeb92ef57.jpg"
                                     alt="德稻历程">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>探索创新教育模式<br>构建新型教育生态</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li class=""><a href="about/jiao-yu-yan-jiu-yuan.htm#jump"><h3 class="s_title">教育研究院</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/upload/images/2016/11/15/75d635e2eb5f44b3acb279f936f48b24.jpg"
                                     alt="教育研究院">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>汇集全球教育资源<br> 催生中国教育新业态</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="full_section color_01 n_section n_section_a2 ab01 ab_new01">
        <a class="jump" id="jump" name="jump"></a>
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title">关 于 德 稻 教 育</h2>
                    <div class="text">
                        行业领先的创新教育内容和综合服务提供者
                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="wrap">
                    <div class="new_content">
                        <div class="nc_box">
                            <div class="title_font20" style="font-weight:bold">
                                德稻教育——智慧 先行
                            </div>
                            <div class="text tc">
                                <p>
                                    　　秉持“智慧、采集、传承”的核心价值观，自2010年以来，德稻教育先后汇聚了来自24个国家和地区的500余位兼具业界经验与学界地位的行业大师，对智慧进行科学化、系统化地采集，传承大师的行业经验和隐性知识，并提供系统化的课程设计和综合教学服务，帮助高校和教育机构提升国际化程度和教育教学水平。同时通过对国际国内教育生态、创新教育产品内容的潜心研究，明确了成为行业领先的创新教育内容与综合服务提供者的发展目标，并逐渐确立了德稻在教育行业的高端定位。<br>
                                </p>
                                <p><br></p>
                                <p>　　2013年德稻教育与上海视觉艺术学院（SIVA）基于对国际化办学模式和国际化人才培养的积极探索与创新，开办“SIVA&middot;德稻实验班”校企合作专业共建项目，获得了国内外设计与艺术领域的广泛认可；并于2015年，助力上海视觉艺术学院从业界新秀跻身至QS世界大学排名艺术与设计学科全球排名前100。与此同时，德稻教育已和包括北京大学、清华大学、北京理工大学、中国传媒大学、大连理工大学、东华大学
                                    、上海商学院、武汉设计工程学院等在内的众多高校建立了长期稳定的合作关系，为合作高校输送多种教育内容和综合服务。2016年初，德稻教育通过了美国高等教育认证委员会（Council
                                    for Higher Education Accreditation，简称CHEA）的认证，荣膺亚洲首家“质量平台提供者”称号。<br><br>　　继成功开展大师传承教育创新体系，德稻正逐步输出知识资本服务体系，德稻知识资本（Detao
                                    Knowledge
                                    Capital,简称DKC）以大师智慧为核心，围绕市场需求，将大师专利、大师技术方案、大师产品方案、大师策划方案等作为德稻知识资本的主干，全力帮助中国企业凭借知识资本，自主创新并掌握核心技术，实现企业转型升级，领先市场竞争。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full_section color_01 n_section new_section ab02 ab_new02">
        <div class="hd">
            <div class="wrap">
                <div class="title">
                    品 牌 文 化
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="wrap">
                <div class="new_content">
                    <ul class="row2 fix">
                        <li>
                            <div class="box">
                                <div class="_hd">
                                    <img src="/static/resources/web/img/nab_img01.png" alt="品牌核心价值" class="bico">
                                    <strong class="n">品牌核心价值</strong>
                                </div>
                                <div class="_bd">
                                    <div class="text">
                                        智慧 采集 传承
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <div class="_hd">
                                    <img src="/static/resources/web/img/nab_img02.png" alt="品牌主张" class="bico">
                                    <strong class="n">品牌主张</strong>
                                </div>
                                <div class="_bd">
                                    <div class="text">
                                        智慧 先行
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <div class="_hd">
                                    <img src="/static/resources/web/img/nab_img03.png" alt="品牌定位" class="bico">
                                    <strong class="n">品牌定位</strong>
                                </div>
                                <div class="_bd">
                                    <div class="text">
                                        全球智慧 共享创新
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <div class="_hd">
                                    <img src="/static/resources/web/img/nab_img04.png" alt="品牌愿景" class="bico">
                                    <strong class="n">品牌愿景</strong>
                                </div>
                                <div class="_bd">
                                    <div class="text">
                                        行业领先的创新教育内容
                                        <br>与综合服务提供者
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <div class="_hd">
                                    <img src="/static/resources/web/img/nab_img05.png" alt="品牌使命" class="bico">
                                    <strong class="n">品牌使命</strong>
                                </div>
                                <div class="_bd">
                                    <div class="text">
                                        汇聚全球智慧，构建新型教育生态，培育引领时代发展的人才
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="full_section color_01 n_section new_section combg_part ab_new03">
        <div class="bd" style="background-image:url(resources/web/img/nabbg.jpg); background-size:cover;">
            <div class="wrap">
                <div class="new_content">
                    <div class="nc_box">
                        <div class="title tc">
                            德 稻 宣 言
                        </div>
                        <div class="text">
                            智慧是人类文明发展的源动力。对智慧不断进行科学化、系统化的采集、传承和应用，我们德稻集团愿作为一分子，把它当做自己的使命。各种科学方法，宽阔的视野，广大的创新灵感来帮助我们，成就德稻解决方案。
                            <br>
                            <br>社会发展而产生的行业是智慧的细分，作为生产力的代表，行业专家(大师)凝聚了大量智慧。德稻集团通过汇聚部分世界行业大师，以师徒传承方式开展高端非学历教育，我们重视对隐性知识的采集，培养独具特色的行业精英，助力企业发展。
                            <br>
                            <br>德稻大师、学生、科技、资本将来自世界各地，我们缘起中国，融入全球，采用半社会化、半商业化的开放运营模式，为企业和机构提供服务，为社会和谐发展尽一份力。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}