{% extends 'bak/base.html' %}
{% block index %}
    <div class="full_section index_section index_sec1" data-section-name="page1">
        <div class="ibanner opc0">
            <ul>
                <!-- banner图 -->
                <li><img data-src="http://www.detaomedia.com/attach/201612/1481654969900809757.jpg" src="">
                    <div class="text animated fadeInUp"></div>
                </li>
                <li><a><img data-src="/static/upload/images/2017/06/13/c55e209ec83c4085a23b53580869bca6.jpg" src="">
                    <div class="text animated fadeInUp"></div>
                </a></li>
                <li><a> <img data-src="/static/upload/images/2017/06/03/dbeb391f572b4f2a9bc65c3abfbe2239.jpg" src="">
                    <div class="text animated fadeInUp"></div>
                </a></li>
            </ul>
        </div>
        <span class="index_arr"><img src="/static/resources/web/img/index_arr.png"></span>
    </div>
{% endblock %}