{% extends "my/base.html" %}
{% block center %}
<!-- 轮播大图 -->
<div class="container-fluid">
    <div class="row" style="margin-top: -90px">
        <div class="carousel slide" id="slide">
            <ol class="carousel-indicators">
                <li data-target="#slide" data-slide-to="0" class="active"></li>
                <li data-target="#slide" data-slide-to="1"></li>
                <li data-target="#slide" data-slide-to="2"></li>
            </ol>
            <div id="slides" class="carousel-inner">
                <div class="item active">
                    <img class="bg-img" src="/static/images/background-photo.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>图片说明</h3>
                        <p>这是slide1</p>
                    </div>
                </div>
                <div class="item">
                    <img class="bg-img" src="/static/images/background-photo.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>图片说明</h3>
                        <p>这是slide2</p>
                    </div>
                </div>
                <div class="item">
                    <img class="bg-img" src="/static/images/background-photo.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>图片说明</h3>
                        <p>这是slide3</p>
                    </div>
                </div>
            </div>
            <a href="#" class="carousel-control left" data-target="#slide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">&lsaquo;</span>
            </a>
            <a href="#" class="carousel-control right" data-target="#slide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">&rsaquo;</span>
            </a>

            {#            <div style="text-align:center;">#}
            {#                <input type="button" class="btn start-slide" value="开始">#}
            {#                <input type="button" class="btn stop-slide" value="停止">#}
            {#                <input type="button" class="btn prev-slide" value="上一张">#}
            {#                <input type="button" class="btn next-slide" value="下一张">#}
            {#                <input type="button" class="btn slide-first" value="slide 1">#}
            {#                <input type="button" class="btn slide-second" value="slide 2">#}
            {#                <input type="button" class="btn slide-third" value="slide 3">#}
            {#            </div>#}
        </div>

    </div>

</div>
<!-- 轮播大图 -->
{% endblock %}