{% extends "base.html" %}
{% block style %}
    <link href="/static/bootstarp/assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .current_section h2.title {
            color: white;
            position: absolute;
            left: 0;
            right: 0;
            top: 55%;
            margin-top: -33px;
        }
    </style>
{% endblock style %}
{% block center %}

<div class="full_section n_section current_section channelName_banner">
    <div class="current_section_bg">
        <img src="/static/resources/web/img/cs_bg.jpg" alt="">
    </div>
    <h2 class="title tc fadeInUp">联系德稻</h2>
</div>
<!--联系我们-->
<div class="container" style="padding: 50px 0;">
    <div class="row">
        <div class="col-lg-7">
            <a href="#" class="img-thumbnail">
                <img style="width: 100%; height: 250px;" src="/static/images/contant.jpg">
            </a>
        </div>
        <div class="col-lg-5" style="background-color: inherit; margin-top: 30px">
            <p>
            <h4>上海德稻传媒有限公司</h4>
            <br/>
            <p>热线电话：+86 (21) 37016333-1331</p>
            <p>地址：上海市松江区文翔路2200号 上海视觉艺术学院 德稻上海中心大厦 </p>
            </p>
        </div>
    </div>
    <div class="row" style="padding: 80px 0; border-bottom: 2px solid black">
        <div class="col-lg-7">
            <a href="#" class="">
                <img style="height: 250px;" src="/static/images/shanghai.png">
            </a>
        </div>
        <div class="col-lg-5" style="background-color: inherit; margin-top: 30px">
            <p>
            <h4>上海联系地址</h4>
            <br/>
            <p>地址：上海市松江区文翔路2200号 &nbsp;上海视觉艺术学院 &nbsp;德稻上海中心大厦</p>
            <p> 邮编：201620</p>
            </p>
        </div>
    </div>
    <div class="row" style="padding: 80px 0;">
        <div class="col-lg-7">
            <a href="#">
                <img style="height: 250px;" src="/static/images/beijing.png">
            </a>
        </div>
        <div class="col-lg-5" style="background-color: inherit; margin-top: 30px">
            <p>
            <h4>北京联系地址</h4>
            <br/>
            <p>地址：北京市昌平区沙河镇南丰路1号</p>
            <p>邮编：102206 </p>
            </p>
        </div>
    </div>

</div>
<!--联系我们-->


{% endblock center  %}

