{% extends "base.html" %}
{% block style %}
    <link href="/static/bootstarp/assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .current_section h2.title {
            color: white;
            position: absolute;
            left: 0;
            right: 0;
            top: 55%;
            margin-top: -33px;
        }
    </style>
{% endblock style %}
{% block center %}

    <div class="full_section n_section current_section channelName_banner">
        <div class="current_section_bg">
            <img src="/static/resources/web/img/cs_bg.jpg" alt="">
        </div>
        <h2 class="title tc fadeInUp">站点地图</h2>
    </div>
    <!--站点地图-->
    <div class="container" style="padding: 50px 0; font-size: 18px; text-align: center">
        <div class="row" style="border-bottom: solid 1px black; padding: 25px 50px">
            <div class="col-lg-2" style="">
                <div style="background-color: #C9C9CA; padding: 5px 0">首页</div>
            </div>
        </div>
        <div class="row" style="border-bottom: solid 1px black; padding: 25px 50px">
            <div class="col-lg-2" style="">
                <div style="background-color: #C9C9CA; padding: 5px 0">德稻传媒</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">关于我们</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">全球知识资本耕耘者<br/>战略 设计 创新
</div>
            </div>
        </div>
        <div class="row" style="border-bottom: solid 1px black; padding: 25px 50px">
            <div class="col-lg-2" style="">
                <div style="background-color: #C9C9CA; padding: 5px 0">德稻大师</div>
            </div>
        </div>
        <div class="row" style="border-bottom: solid 1px black; padding: 25px 50px">
            <div class="col-lg-2" style="">
                <div style="background-color: #C9C9CA; padding: 5px 0">产品中心</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">德稻知识资本</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">全球知识资本企业家俱乐部
</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">德稻演讲
</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">德稻知识资本创新中心
</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">德稻特色小镇
</div>
            </div>
        </div>
        <div class="row" style="border-bottom: solid 1px black; padding: 25px 50px">
            <div class="col-lg-2" style="">
                <div style="background-color: #C9C9CA; padding: 5px 0">合作中心</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">项目案例
</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">合作企业分布
</div>
            </div>
            <div class="col-lg-2" style="font-size: 16px">
                <div style="line-height: 30px;">合作企业
</div>
            </div>
        </div>
        <div class="row" style="border-bottom: solid 1px black; padding: 25px 50px">
            <div class="col-lg-2" style="">
                <div style="background-color: #C9C9CA; padding: 5px 0">传媒动态</div>
            </div>
        </div>


    </div>
    <!--站点地图-->


{% endblock center %}

