{% extends "base.html" %}
{% block center %}
    <div class="full_section color_01 n_section dtjy01 dashi01 mobileSlideBlock">
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title"> 德&nbsp; 稻&nbsp; 大&nbsp; 师&nbsp; </h2>
                    <div class="text">
                        <p>汇聚全球500余位行业大师</p>
                    </div>
                </div>
            </div>
            {#            <div class="bd menu_bd">#}
            {#                <div class="menus">#}
            {#                    <div class="wrap">#}
            {#                        <ul class=" fix">#}
            {#                            <li class=""><a href="guan-yu-wo-men.htm#jump">关于我们</a></li>#}
            {#                            <li class="cur"><a href="de-dao-da-shi.htm#jump">德稻大师</a></li>#}
            {#                            <li class=""><a href="de-dao-li-cheng.htm#jump">德稻历程</a></li>#}
            {#                            <li class=""><a href="jiao-yu-yan-jiu-yuan.htm#jump">教育研究院</a></li>#}
            {#                        </ul>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>

    <div class="full_section color_01 n_section dashi03 dt_bg3">
        <div class="jump" id="jump"></div>
        <div class="wrap">
            <div class="widget-area">
                <ul class="fix">
                    <li>
                        <div class="box b1">
                            <span class="s1 odometer1">63</span>
                            <span class="s2">个</span>
                        </div>
                        <div class="p">
                            设计、时尚、艺术、商业、动漫、影视等领域
                        </div>
                    </li>
                    <li>
                        <div class="box b1">
                            <span class="s1 odometer2">500</span>
                            <span class="s2">位</span>
                        </div>
                        <div class="p">
                            业界专家与学界领袖
                        </div>
                    </li>
                    <li>
                        <div class="box b1">
                            <span class="s1 odometer3">3360</span>
                            <span class="s2">+</span>
                        </div>
                        <div class="p">
                            顶级行业奖项获得者
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="full_section color_01 n_section dashi04 dt_bg3">
        <div class="wrap">
            <div class="dt_search">
                <form action="" class="dt_form fix" id="newsForm">
                    <input type="text" class="inp" name="keywords" id="keywords">
                    <input type="hidden" class="inp" name="page_index" value="1">
                    <input type="hidden" class="inp" name="page_size" value="6">
                    <input name="fieldId" type="hidden" value="">
                    <input name="nationId" type="hidden" value="">
                    <input name="titleId" type="hidden" value="">
                    <input name="prizeId" type="hidden" value="">
                    <button class="_btn" id="doSubmit" type="submit"><i></i></button>
                </form>
            </div>
            <div class="dt_sele_ser">
                <ul class="fix">
                    <li>
                        <div class="sb" onmouseover="showmenu(this)" onmouseout="hiddenmenu(this)">
                            <span class="_t">领域</span>
                            <span id="fieldId" class="_val" nid="0">全部</span>
                            <input type="hidden" value="">
                        </div>
                        <div class="_options" id="field" onmouseover="onmenu(this)" onmouseout="outmenu(this)">
                            <a nid="0" onclick="chonse(this)">全部</a>
                            {% for i in field %}
                                <a nid="{{ i.id }}" onclick="chonse(this)">{{ i.field }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li>
                        <div class="sb" onmouseover="showmenu(this)" onmouseout="hiddenmenu(this)">
                            <span class="_t">国籍</span>
                            <span id="nationId" class="_val" nid="0">全部</span>
                            <input name="nationality" type="hidden" value="">
                        </div>
                        <div class="_options" id="nationality" onmouseover="onmenu(this)" onmouseout="outmenu(this)">
                            <a nid="0" onclick="chonse(this)">全部</a>
                            {% for i in nationality %}
                                <a nid="{{ i.id }}" onclick="chonse(this)">{{ i.nationality }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li>
                        <div class="tc">
                            <a href="/contant/" title="了解更多大师信息，请联系我们"
                               class="m_detail">了解更多大师信息，请联系我们</a>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="pic_list">
                <ul class="row" id="container" page=0>
{#                    {% for i in data %}#}
{#                        <li class="span-4 smal-12">#}
{#                            <div class="box pr oh">#}
{#                                <a href="{{ i.id }}" class="rect-716 imgZoom" target="_blank">#}
{#                                    <img src="{{ i.avatar }}" class="_full">#}
{#                                    <div class="tit el pa transition">#}
{#                                        <span class="_t">{{ i.chinese_name }}</span>#}
{#                                        <span class="date">{{ i.actual_name }}</span>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <a href="{{ i.id }}" class="pa _mask" target="_blank">#}
{#                                    <span class="cover">#}
{#                                      <h3 class="_title el">{{ i.chinese_name }}</h3>#}
{#                                      <div class="date">{{ i.actual_name }}</div>#}
{#                                      <div class="p">{{ i.introduction }}</div>#}
{#                                    </span>#}
{#                                    <div class="tc">#}
{#                                        <span class="m_detail">了解更多</span>#}
{#                                    </div>#}
{##}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
{#                    {% endfor %}#}
                </ul>
            </div>
            <div class="pj-lb-more" id="st_data_more">
                <div class="loading"></div>
                <a href="javascript:;">加载中......</a>
            </div>
            <div class="pj-lb-more" id="over">
                <a>已经是最后了</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/backend/js/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        function getItems() {
            if ($("#over").css('display') == 'none') {
                if ($("#st_data_more").css('display') == 'none') {
                    $("#st_data_more").show();
                    //按条件筛选大师
                    var field = $('#fieldId').attr('nid');
                    var nationality = $('#nationId').attr('nid');
                    var page = $('#container').attr('page');
                    var url = "get_filter?field=" + field + "&nationality=" + nationality + "&page=" + page;
                    $.ajax({
                        url: url,
                        type: "GET",
                        success: function (data, a1, a2) {
                            console.log($.parseJSON(data));
{#                            $('#container').empty();#}
                            if (data.length > 2) {
                                console.log('you');
                                $('#container').attr('page', parseInt($('#container').attr('page')) + 1);
                                var ret = $.parseJSON(data);
                                console.log(ret);
                                for (var i in ret) {
                                    //'id', 'chinese_name', 'actual_name', 'introduction', 'avatar'
                                    //大师流瀑
                                    var li = createitems(ret, i);
                                    $('#container').append(li)
                                }
                            } else {
                                console.log('meiyoule');
                                $("#over").show();
                            }
                            $("#st_data_more").hide();

                        }
                    });


                }
            }
        }

        function createitems(ret, i) {
            var li =
                '<li class="span-4 smal-12">' +
                '   <div class="box pr oh">' +
                '       <a href="' + ret[i][0] + '" class="rect-716 imgZoom" target="_blank">' +
                '           <img src="' + ret[i][4] + '" class="_full">' +
                '           <div class="tit el pa transition">' +
                '           <span class="_t">' + ret[i][1] + '</span>' +
                '           <span class="date">' + ret[i][2] + '</span>' +
                '    </div>' +
                '    </a>' +
                '    <a href="' + ret[i][0] + '" class="pa _mask" target="_blank">' +
                '     <span class="cover">' +
                '     <h3 class="_title el">' + ret[i][1] + '</h3>' +
                '                                      <div class="date">' + ret[i][2] + '</div>' +
                ' <div class="p">' + ret[i][3] + '</div>' +
                '                                    </span>' +
                '                                    <div class="tc">' +
                '                                        <span class="m_detail">了解更多</span>' +
                '                                    </div>' +
                '                                </a>' +
                '                            </div>' +
                '                        </li>';
            return li;
        }


        function getItems1() {
            if ($("#over").css('display') == 'none') {
                if ($("#st_data_more").css('display') == 'none') {
                    $("#st_data_more").show();
                    var page = $('#container').attr('page');
                    var url = "get_items?page=" + page;
                    $.ajax({
                        url: url,
                        type: "GET",
                        success: function (data, a1, a2) {
                            if (data.length > 2) {
                                console.log('you');
                                $('#container').attr('page', parseInt($('#container').attr('page')) + 1);
                                var ret = $.parseJSON(data);
                                console.log(ret);
                                for (var i in ret) {
                                    //'id', 'chinese_name', 'actual_name', 'introduction', 'avatar'
                                    //大师流瀑
                                    var li = createitems(ret, i);
                                    $('#container').append(li)
                                }
                            } else {
                                console.log('meiyoule');
                                $("#over").show();
                            }
                            $("#st_data_more").hide();
                        }
                    })
                }
            }


        }

        //判断文档滚动的位置
        function wheelListen() {
            var srollHeight = $(document).scrollTop();
            if (srollHeight + $(window).height() >= $(document).height() - 300) {
                console.log('gun');
                getItems();
            }
        }


        //绑定事件
        $(window).on("load", function () {
            getItems();
            $(document).bind("mousewheel DOMMouseScroll", function () {
                wheelListen();
            });
        });


        function showmenu(obj) {
            $(obj).next().show();
        }

        function onmenu(obj) {
            $(obj).show();
        }

        function outmenu(obj) {
            $(obj).hide();
        }

        function hiddenmenu(obj) {
            $(obj).next().hide()
        }

        function chonse(obj) {
            // 选择国籍或者行业进行筛选
            $(obj).parent().prev().children('._val').text($(obj).text());
            $(obj).parent().prev().children('._val').attr('nid', $(obj).attr('nid'));
            $(obj).parent().hide();
            //$('#filter').submit();
            $('#container').attr('page', 0);
            $('#container').empty();
            $('#over').hide();
            getItems();
        }
    </script>
{% endblock %}
