{% extends "base.html" %}
{% block center %}
   <div class="full_section color_05 n_section zj_bg news_title">
    <h1 class="title tc fadeInDown">德稻传媒汇聚全球知识资本，助力500强企业高峰论坛</h1>
   </div>
   <div class="full_section color_05 n_section news_pd">
    <div class="wrap">
     <div class="content2">
      <div class="tools tc pr fadeInUp">
       <input id="newsId" type="hidden" value="493143">
       <span id="newsDate">2017-06-01 15:05&nbsp; </span>
       <span class="bdsharebuttonbox" data-tag="new_share"> <a href="#" class="bds_more" data-cmd="more"></a> </span>
      </div>
      <div class="myart fadeInUp">








					<p style="text-align: center">
						</p><div>
	<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">2017年9月9日，中国经济界与企业界的年度盛会 ——“中国500强企业高峰论坛”在江西南昌前湖迎宾馆正式开幕。此次论坛由中国企业联合会、中国企业家协会主办，江西省人民政府承办，吸引了国内外近千位重量级嘉宾莅临现场，共襄盛举。作为本次论坛第四场平行论坛的协办方，上海德稻传媒有限公司以知识资本为核心，以汇聚全球知识资本、推动中国产业创新发展为目的，助力500强企业高峰论坛顺利开展。</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image001(270).jpg" style="width: 600px; height: 400px;"><br>
	<span style="font-size:12px;">“世界品牌大师对话中国500强”德稻平行论坛总览</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div>
	<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">9月9日上午10点整，由德稻传媒负责协办的平行论坛“世界品牌大师对话中国500强”在前湖迎宾馆赣江A厅正式开幕。在企业经营之初，战略的本质是规划企业未来的发展方向，提炼企业的核心竞争力。超前的战略规划不仅能引领企业自适应时代的变迁与自身的变革，甚至能在市场发生颠覆性改变时，为企业保驾护航。而品牌作为企业战略框架中不可或缺的组成部分，是企业获取消费者认知、凸显市场价值的最佳利器。</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/11(59).jpg" style="width: 399px; height: 598px;"></span></span><br>
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">德稻传媒总经理于澜涛先生出席平行论坛</span></span><br>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image003(29).png" style="width: 399px; height: 282px;"><br>
	<span style="font-size:12px;">德稻传媒副总经理胡辛迪女士致开幕词</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div>
	<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">论坛伊始，德稻传媒副总经理胡辛迪女士致开幕词，向现场嘉宾介绍德稻传媒的经营聚焦点是为各大企业提供一站式的解决方案。随后，德稻领导力&amp;战略大师孔林德（Lars Kolind）围绕“Purpose Makes Profit目的成就利益”展开演讲。他提到，“企业短期盈利与长期盈利存在天壤之别，难点在于如何实现长期的可持续的盈利。世界各行业内的领头企业与竞争企业最大的区别在于，他们能够以长远的视角为企业制定一个明确的强有力的目的，并且把这个目的放在企业利益之前。”根据多年的企业管理经验，孔林德大师在现场分享了与客户合作的7个有效机制，帮助公司达成目的。</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image004(438).jpg" style="width: 600px; height: 400px;"><br>
	<span style="font-size:12px;">德稻领导力&amp;战略大师孔林德（Lars Kolind）演讲</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image006(334).jpg" style="width: 600px; height: 450px;"><br>
	<span style="font-size:12px;">孔林德大师在江西省会议中心接受新华网记者采访</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div>
	<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">紧接着德稻品牌战略设计大师曹图健（Kenneth W Cato）以“Building Brand Value 建造品牌价值”为主题，讲述世界各大知名企业创造品牌价值的真实案例，传达“品牌本身就具备价值，不仅能够纳入企业的资产负债表，也能成为公司的资产之一。品牌不仅代表商标，也代表着企业声望”的先进理念。</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image008(235).jpg" style="width: 600px; height: 400px;"><br>
	<span style="font-size:12px;">德稻品牌战略设计大师曹图健（Kenneth W Cato）分享企业案例</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image010(174).jpg" style="width: 600px; height: 450px;"><br>
	<span style="font-size:12px;">曹图健大师在江西省会议中心接受新华网记者采访</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div>
	<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">全球性思维的碰撞，前沿理念与智慧的分享，引发了现场嘉宾对“如何评估一个好的品牌及战略”的深度思考。当议程进行到圆桌论坛环节时，孔林德大师、曹图健大师与中国人民电器集团董事长郑元豹先生、中国二商集团董事长孙杰女士、通鼎集团董事长沈小平先生、江铃汽车集团公司总工程师施明顺先生的精彩发言和观点交锋，再次将现场气氛推向了高潮。</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image012(115).jpg" style="width: 600px; height: 400px;"><br>
	<span style="font-size:12px;">德稻圆桌论坛围绕“品牌与战略”话题精彩呈现</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div>
	<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp;</span><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">同时，“一带一路”：区域和企业发展新机遇平行论坛在前湖迎宾馆赣江B厅举行，德稻集团总裁、银杏树信息技术服务（北京）有限公司董事长夏军先生出席了此次论坛并发表重要讲话，介绍了德稻将世界大师的智慧资源与中国的教育资源进行对接，在中国实践高端行业教育所做的努力。此外，“一带一路”强调企业引领创新，德稻专门针对B2B推出商务及金融交易平台“银杏树”，成功践行“要成为世界级的企业一定要用世界级的资源”。会后，新华网记者就此问题对夏总进行了专访。</span></div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image014(85).jpg" style="width: 600px; height: 345px;"><br>
	<span style="font-size:12px;">德稻集团总裁、银杏树公司董事长夏军先生在“一带一路”论坛上发言</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><img alt="" src="http://www.detaogroup.com/uploads/Image/image016(63).jpg" style="width: 600px; height: 450px;"><br>
	<span style="font-size:12px;">德稻集团总裁、银杏树公司董事长夏军先生接受新华网记者专访</span></span></span></div>
<div style="text-align: center;">
	&nbsp;</div>
<div>
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;</span></span><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">作为德稻集团的全资子公司，德稻传媒旨在依托德稻集团覆盖全球的创新资源以及知识资本体系，瞄准全国各行业翘楚，积极开展多领域下的创新实践，逐步建立起覆盖全行业的创新平台、促进中小企业转型与升级的知识资本服务平台，为企业与行业提供知识资本市场化应用的综合解决方案。为了更好地服务于中国500强企业，德稻传媒专门开发出与“品牌和战略”相关的两款产品，有针对性地将知识资本、数据资本、金融资本、产业资本注入服务企业，为企业升级、转型、换代提供全面支持与服务。</span></div>
<p>
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;</span></span><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">本次论坛的举办，体现了500强企业在贯彻落实新理念中的责任担当，进一步彰显了500强企业引领支撑经济社会发展的中流砥柱作用，为500强企业转型升级指明了方向。日后，德稻传媒必将努力把握机遇，以大师智慧为核心，依托于知识资本全面助力中国企业实现转型与升级，助力“中国制造”走向“中国创造”。</span></p>










      </div>
     </div>
    </div>
   </div>
{% endblock %}