{% extends "base.html" %}
{% block center %}
    <div class="full_section color_05 n_section zj_bg news_title">
        <h1 class="title tc fadeInDown">{{ obj.title }}</h1>
    </div>
    <div class="full_section color_05 n_section news_pd">
        <div class="wrap">
            <div class="content2">
                <div class="tools tc pr fadeInUp">
                    <input id="newsId" type="hidden" value="493143">
                    <span id="newsDate">2017-06-01 15:05&nbsp; </span>
                    <span class="bdsharebuttonbox" data-tag="new_share"> <a href="#" class="bds_more"
                                                                            data-cmd="more"></a> </span>
                </div>
                <div class="myart fadeInUp">

                {{ obj.content | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}