{% extends "base.html" %}
{% block style %}

    <link href="/static/bootstarp/assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .yjtj_pic, .yjtj_pic li {
            height: auto;
        }
    </style>

{% endblock %}
{% block center %}


    <div class="full_section color_01 n_section dtjy01 mobileSlideBlock">
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title">传&nbsp; 媒&nbsp; 动&nbsp;态</h2>
                </div>
            </div>
        </div>


    </div>
    <!--大图轮播-->
    <div class="full_section color_02 n_section ep_bg03">
        <div class="yjtj_pic_hero pr">
            <div class="yjtj_pic fadeInUp">
                <ul>
                    <li><a href="/new1/" target="_blank">
                        <img src="/static/images/new1.gif" data-url="/static/images/new1.gif">
                        <div class="text css3">
                            <h3 class="_title">德稻传媒汇聚全球知识资本，助力500强企业高峰论坛</h3>
                            <div class="_time">
                                2013.04.12
                            </div>
                        </div>
                        <span class="m_detail">了解更多</span> </a></li>
                    <li><a href="/new1/" target="_blank">
                        <img src="/static/images/new1.gif" data-url="/static/images/new1.gif">
                        <div class="text css3">
                            <h3 class="_title">德稻传媒汇聚全球知识资本，助力500强企业高峰论坛</h3>
                            <div class="_time">
                                2013.04.12
                            </div>
                        </div>
                        <span class="m_detail">了解更多</span> </a></li>
                    <li><a href="/new1/" target="_blank">
                        <img src="/static/images/new1.gif" data-url="/static/images/new1.gif">
                        <div class="text css3">
                            <h3 class="_title">德稻传媒汇聚全球知识资本，助力500强企业高峰论坛</h3>
                            <div class="_time">
                                2013.04.12
                            </div>
                        </div>
                        <span class="m_detail">了解更多</span> </a></li>
                    <li><a href="/new1/" target="_blank">
                        <img src="/static/images/new1.gif" data-url="/static/images/new1.gif">
                        <div class="text css3">
                            <h3 class="_title">德稻传媒汇聚全球知识资本，助力500强企业高峰论坛</h3>
                            <div class="_time">
                                2013.04.12
                            </div>
                        </div>
                        <span class="m_detail">了解更多</span> </a></li>


                </ul>
            </div>
            <span class="button myback"><i></i></span>
            <span class="button myforward"><i></i></span>
        </div>
    </div>
    <!--大图轮播-->
    <div class="full_section n_section color_05 nl_bg02">
        <div class="wrap">
            <h2 class="title tc fadeInDown">热点新闻</h2>
            <input type="hidden" id="catId" value="1815">
            <div class="pic_list">
                <ul class="row" id="container">
                    <li class="span-4 smal-12">
                        <div class="box pr oh">
                            <a href="/new1/" class="rect-716 imgZoom" target="_blank"
                               title=""><img src="/static/images/new1.jpg" class="_full">
                                <div class="tit el pa transition">
                                    <span class="_t">
                                        德稻传媒汇聚全球知识资本，助力500强企业高峰论坛
                                    </span>
                                    <span class="date">2017.08.25</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="span-4 smal-12">
                        <div class="box pr oh">
                            <a href="/new1/" class="rect-716 imgZoom" target="_blank"
                               title=""><img src="/static/images/new1.jpg" class="_full">
                                <div class="tit el pa transition">
                                    <span class="_t">
                                        德稻传媒汇聚全球知识资本，助力500强企业高峰论坛
                                    </span>
                                    <span class="date">2017.08.25</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="span-4 smal-12">
                        <div class="box pr oh">
                            <a href="/new1/" class="rect-716 imgZoom" target="_blank"
                               title=""><img src="/static/images/new1.jpg" class="_full">
                                <div class="tit el pa transition">
                                    <span class="_t">
                                        德稻传媒汇聚全球知识资本，助力500强企业高峰论坛
                                    </span>
                                    <span class="date">2017.08.25</span>
                                </div>
                            </a>
                        </div>
                    </li>



                </ul>
            </div>
            <div class="pj-lb-more" id="st_data_more" style="display: none;">
                <div class="loading"></div>
                <a href="javascript:;">加载中......</a>
            </div>
        </div>
    </div>
{% endblock %}