{% extends "base.html" %}

{% block center %}
       <div class="full_section n_section color_04 hz2_bg01">
    <div class="box">
     <div class="hd">
      <div class="wrap">
       <h2 class="title"> 合&nbsp; 作&nbsp; 伙&nbsp; 伴&nbsp; </h2>
       <div class="text">
        <p>与4家国家主管单位&nbsp;&nbsp; 67所高校&nbsp;&nbsp;&nbsp;12家机构单位达成合作伙伴关系<br> 打造真正产学研结合的教育生态体系 </p>
       </div>
      </div>
     </div>
    </div>
    <div class="index_imgBox">
     <div class="wrap">
      <ul class="fix">
       <li> <a href="600260.htm" target="" title="上海视觉艺术学院"> <h3 class="s_title"> <img src="/static/upload/images/2016/09/19/0dba4ba42912421894b50204d4b8ee2b.png" alt="上海视觉艺术学院"> </h3>
         <div class="inline-box">
          <div class="img">
           <img src="/static/upload/images/2016/10/18/b80f05399d504d9494a0fcb6cec4d736.jpg" alt="上海视觉艺术学院">
          </div>
          <div class="cover">
           <div class="cover_con">
            <div class="s_text">
             联合开办“SIVA&middot;德稻实验班”
             <br>校企合作本科学历教育项目
            </div>
           </div>
          </div>
         </div> </a> </li>
       <li> <a href="596166.htm" target="" title="北京大学"> <h3 class="s_title"> <img src="/static/upload/images/2016/09/19/4e020c5371724926802e7a95d1c13167.png" alt="北京大学"> </h3>
         <div class="inline-box">
          <div class="img">
           <img src="/static/upload/images/2017/04/01/dccb4a2fb18245d2bef5ac9879a63ec6.jpg" alt="北京大学">
          </div>
          <div class="cover">
           <div class="cover_con">
            <div class="s_text">
             联合开展创新教育课程研发
             <br>MOOCs课程开发等合作
            </div>
           </div>
          </div>
         </div> </a> </li>
       <li> <a href="621208.htm" target="" title="中国工业设计协会"> <h3 class="o_text"> <img src="/static/upload/images/2016/11/07/3b6448022a954c1fbbcace821e704153.jpg" alt="中国工业设计协会"> </h3>
         <div class="inline-box">
          <div class="img">
           <img src="/static/upload/images/2016/11/15/e45a105cda834804ace282531e7a76d8.jpg" alt="中国工业设计协会">
          </div>
          <div class="cover">
           <div class="cover_con">
            <div class="s_text">
             联合成立创新学院
             <br>助推中国制造向中国智造转型
            </div>
           </div>
          </div>
         </div> </a> </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- field1合作伙伴名称 field4 logo-->
   <div class="full_section n_section color_04 hz2_bg02 hz_map">
    <div class="new_box">
     <div class="map">
      <img src="/static/resources/web/img/dt_map.png" alt="">
      <div class="map_point hzp01" style="left:485px; top:156px;">
       <div class="point">
        <b class="line"></b>
        <div class="content">
         <div class="img">
          <img src="/static/upload/images/2016/11/07/62253ac453b04b1181a41a90bc3f61e8.jpg" alt="北大合作">
         </div>
         <div class="text">
          北京大学是德稻最重要的合作伙伴之一，自2011年以来，北京大学与德稻教育开展了一系列创新教育合作，共同探索新型合作模式
         </div>
        </div>
       </div>
      </div>
      <div class="map_point hzp02" style="left:560px; top:272px;">
       <div class="point">
        <b class="line"></b>
        <div class="content">
         <div class="img">
          <img src="/static/upload/images/2016/08/16/cd717865185f4fac917f3923e9854157.jpg" alt="上海视觉艺术学院">
         </div>
         <div class="text">
          “SIVA•德稻实验班”是上海视觉艺术学院与德稻教育双方联合，对国际化办学模式和国际化人才培养模式的积极探索与创新
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="full_section color_04 n_section hz2_bg03 new_school">
    <div class="wrap">
     <h2 class="title tc fadeInDown"> 政 府 部 门</h2>
     <div class="pinpai_line  fadeInUp">
      <ul class="fix">
       <li> <a href="javascript:void(0);" title="浙江省人民政府" target=""> <img src="/static/upload/images/2016/08/16/8843fa38bc3948eaa1e38f753875ff29.jpg" alt="浙江省人民政府"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中国贵州" target=""> <img src="/static/upload/images/2016/08/16/b7a94a78d4214e4c84401a49ac24add5.jpg" alt="中国贵州"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="厦门市人民政府" target=""> <img src="/static/upload/images/2016/08/16/21ee01a9b04f45a0adb6158fa100238f.jpg" alt="厦门市人民政府"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中国&middot;海口政府" target=""> <img src="/static/upload/images/2016/08/16/6f76093d7e75419791886b7bbf93e106.jpg" alt="中国&middot;海口政府"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中国三亚" target=""> <img src="/static/upload/images/2016/08/16/20d64172449a4046b0e990c73683fa6c.jpg" alt="中国三亚"> <i></i> </a> </li>
      </ul>
     </div>
    </div>
    <div class="wrap">
     <h2 class="title tc fadeInDown"> 合 作 院 校</h2>
     <div class="pinpai_line  fadeInUp">
      <ul class="fix">
       <li> <a href="596166.htm" title="北京大学" target="_blank"> <img src="/static/upload/images/2016/11/07/62253ac453b04b1181a41a90bc3f61e8.jpg" alt="北京大学"> <i></i> </a> </li>
       <li> <a href="600260.htm" title="上海视觉艺术学院" target="_blank"> <img src="/static/upload/images/2016/08/16/cd717865185f4fac917f3923e9854157.jpg" alt="上海视觉艺术学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="清华大学" target=""> <img src="/static/upload/images/2016/12/13/84eba5c01c764184b9e227ab07decd0c.jpg" alt="清华大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="北京理工大学" target=""> <img src="/static/upload/images/2016/08/16/023ee77328fc49c59b6891c519698bc5.jpg" alt="北京理工大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中国传媒大学国际传媒教育学院" target=""> <img src="/static/upload/images/2016/08/16/85243c87163e4ab2bf89e4783d4787cc.jpg" alt="中国传媒大学国际传媒教育学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="上海商学院" target=""> <img src="/static/upload/images/2016/08/16/e04359fcd6e54a1b9247168f6fe688ed.jpg" alt="上海商学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="上海建桥学院" target=""> <img src="/static/upload/images/2016/08/16/4f8c2bb093a94bd88d7d36340b2b95f5.jpg" alt="上海建桥学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中央财经大学" target=""> <img src="/static/upload/images/2016/08/16/c39a76a3e8594c9d9872dcc12dbffdce.jpg" alt="中央财经大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="大连理工大学" target=""> <img src="/static/upload/images/2016/12/13/0430715f171143919f44b7e0367c8474.jpg" alt="大连理工大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="东华大学" target=""> <img src="/static/upload/images/2016/08/16/9fe2b99046094eb7b4cdce298c9c8317.jpg" alt="东华大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="四川美术学院" target=""> <img src="/static/upload/images/2016/12/13/66b7332b583b40399521e083af24bd9f.jpg" alt="四川美术学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="广州美术学院" target=""> <img src="/static/upload/images/2016/12/13/51543ce5b73d4d65a6a11964932dc646.jpg" alt="广州美术学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="河北美术学院" target=""> <img src="/static/upload/images/2016/12/13/e16fd6dc9976418ab4ecc6744bf13477.jpg" alt="河北美术学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="北京开放大学" target=""> <img src="/static/upload/images/2016/12/13/25975899376f46d8a1ebb32114407361.jpg" alt="北京开放大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="武汉设计工程学院" target=""> <img src="/static/upload/images/2016/08/16/c0a51000f1d441328234d335bf9a8136.jpg" alt="武汉设计工程学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="青岛黄海学院" target=""> <img src="/static/upload/images/2016/08/16/5bb5bbd9486544b5ad92ebf41ce956d7.jpg" alt="青岛黄海学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="英国普利茅斯大学" target=""> <img src="/static/upload/images/2016/08/16/025fdde7b9664335a3a0d9a115b5b5d8.jpg" alt="英国普利茅斯大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="日本立命馆大学" target=""> <img src="/static/upload/images/2016/08/16/43b9ef17c0174cf0b8d0aa336e0b91ca.jpg" alt="日本立命馆大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="澳洲国立大学" target=""> <img src="/static/upload/images/2016/08/16/88f00dc25a1a4342a22fcd317c6c4f84.jpg" alt="澳洲国立大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="西弗兰德大学" target=""> <img src="/static/upload/images/2016/08/16/66999c2190cd43258f230c3401fa22ad.jpg" alt="西弗兰德大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="华南师范大学" target=""> <img src="/static/upload/images/2016/08/16/1c5e774b076f443fb44c3d358bae6221.jpg" alt="华南师范大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="郑州航空工业管理学院" target=""> <img src="/static/upload/images/2016/08/16/639f6c75c8dc4aa7b57d5b82c97e8f39.jpg" alt="郑州航空工业管理学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="南方科技大学" target=""> <img src="/static/upload/images/2016/08/16/77be720faac74812b0a76f3d4bcbe12e.jpg" alt="南方科技大学"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="厦门理工学院" target=""> <img src="/static/upload/images/2016/08/16/d4be3e0c762949c6aaa44d9224034987.jpg" alt="厦门理工学院"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="山东交通学院" target=""> <img src="/static/upload/images/2016/08/16/737718b5494a4e7e9f07bd18bb0b7b6d.jpg" alt="山东交通学院"> <i></i> </a> </li>
      </ul>
     </div>
    </div>
    <div class="wrap">
     <h2 class="title tc fadeInDown"> 机 构 、研 究 院</h2>
     <div class="pinpai_line  fadeInUp">
      <ul class="fix">
       <li> <a href="621208.htm" title="中国工业设计协会" target="_blank"> <img src="/static/upload/images/2016/11/07/0149dec274834b3bbd5a64b6c3396e29.jpg" alt="中国工业设计协会"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="普象" target=""> <img src="/static/upload/images/2016/08/22/a4707d035583439daf8b7922df633a47.png" alt="普象"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="HJ设计机构" target=""> <img src="/static/upload/images/2016/08/22/3658c1db66914fd8af9ff3510ada33af.png" alt="HJ设计机构"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="CHEA" target=""> <img src="/static/upload/images/2016/08/16/c58b47ce0c8c4614942ec028710d81a6.jpg" alt="CHEA"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="Future Learn" target=""> <img src="/static/upload/images/2016/08/16/d9b5cd652de74e5e9e221ac8052d6651.jpg" alt="Future Learn"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="外滩教育" target=""> <img src="/static/upload/images/2016/08/16/9908e866a32249adb0df126dbe9b48d5.jpg" alt="外滩教育"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中国对外友好合作服务中心" target=""> <img src="/static/upload/images/2016/08/16/9921fe659c9e4bdcbf76e01fc880ae48.jpg" alt="中国对外友好合作服务中心"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="易班网" target=""> <img src="/static/upload/images/2016/08/16/c9925897939845a6b73248d47e111175.jpg" alt="易班网"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中国远程教育杂志社" target=""> <img src="/static/upload/images/2016/08/16/60f42e3298344d42924184f9f8dd8321.jpg" alt="中国远程教育杂志社"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中国教育科学研究院" target=""> <img src="/static/upload/images/2016/08/16/941b8f5953324aaa879def8f169a72da.jpg" alt="中国教育科学研究院"> <i></i> </a> </li>
      </ul>
     </div>
    </div>
    <div class="wrap">
     <h2 class="title tc fadeInDown"> 企 业</h2>
     <div class="pinpai_line  fadeInUp">
      <ul class="fix">
       <li> <a href="javascript:void(0);" title="GK设计集团" target=""> <img src="/static/upload/images/2016/08/16/aff3323dfe01483894c1680c3b134697.jpg" alt="GK设计集团"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="盛大游戏" target=""> <img src="/static/upload/images/2016/08/16/0312f1d78bd34c5fa637bf192864876e.jpg" alt="盛大游戏"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="上海君铂文化传媒有限公司" target=""> <img src="/static/upload/images/2016/08/16/18fb02a75ac749bc9b96bdde253ffa8b.jpg" alt="上海君铂文化传媒有限公司"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="凡高设计" target=""> <img src="/static/upload/images/2016/08/16/a2873cf1c65c4bafa79d2d28d0b7a3ab.jpg" alt="凡高设计"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="托普瑞德" target=""> <img src="/static/upload/images/2016/08/16/2dd415ec8d8241d2bbb667b3680fde47.jpg" alt="托普瑞德"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="上海晨想集团" target=""> <img src="/static/upload/images/2016/08/16/70eb3969158647b1b6039304303054de.jpg" alt="上海晨想集团"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="心创投资管理有限公司" target=""> <img src="/static/upload/images/2016/08/16/cbc7ca1fbfce4228a45d4685587bd8dc.jpg" alt="心创投资管理有限公司"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="华东人才教育集团" target=""> <img src="/static/upload/images/2016/08/16/f2581b22eb9040b2abfd30a6e50781ec.jpg" alt="华东人才教育集团"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="中智人力资源管理咨询有限公司" target=""> <img src="/static/upload/images/2016/08/16/18f54b30b9f845d5934e1866a0cbc752.jpg" alt="中智人力资源管理咨询有限公司"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="伽音琴行" target=""> <img src="/static/upload/images/2016/08/16/ddaf0fcab2df47f585ed21339887a41f.jpg" alt="伽音琴行"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="上海瑞珑汽车科技股份有限公司" target=""> <img src="/static/upload/images/2016/08/16/4f591c89f7e84f5695559c19acb60e27.jpg" alt="上海瑞珑汽车科技股份有限公司"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="上海举家爽网络科技有限公司" target=""> <img src="/static/upload/images/2016/08/22/9854c24a498a4ea0a2d99a81596063f9.png" alt="上海举家爽网络科技有限公司"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="库卡机器人" target=""> <img src="/static/upload/images/2016/08/16/ac8c296d33e64925af48a07480420d9b.jpg" alt="库卡机器人"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="企服（上海）网络信息技术有限公司" target=""> <img src="/static/upload/images/2016/08/16/52fe626107d941e9976fe21f2d45bf67.jpg" alt="企服（上海）网络信息技术有限公司"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="西门子" target=""> <img src="/static/upload/images/2016/08/16/34ca16137f0d40819befd7abf4c8a461.jpg" alt="西门子"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="上海曼恒数字技术股份有限公司" target=""> <img src="/static/upload/images/2016/08/16/ed652dd9c0bd4ccd98f47a7aa82a7179.jpg" alt="上海曼恒数字技术股份有限公司"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="无印良品" target=""> <img src="/static/upload/images/2016/08/16/f3a08fdb0c8d4d039c73ed5f06817f3a.jpg" alt="无印良品"> <i></i> </a> </li>
       <li> <a href="javascript:void(0);" title="mediaV" target=""> <img src="/static/upload/images/2016/08/16/b0be2b0132e9452aafd09a46b6f8a80b.jpg" alt="mediaV"> <i></i> </a> </li>
      </ul>
     </div>
    </div>
   </div>
{% endblock %}