{% extends "product_base.html" %}
{% block title %}
    <h2 class="title ">企&nbsp;业&nbsp;家&nbsp;俱&nbsp;乐&nbsp;部</h2>
{% endblock %}
{% block product %}
    <!--全球知识资本企业家俱乐部-->
    <div class="container" style="padding: 50px 0;text-align: center">
        <div class="row">
            <div class="col-lg-12">
                <img src="/static/images/julebu.png" width="180px">
            </div>
            <div class="col-lg-12">
                <h2>俱乐部介绍</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>
                <h3>核心价值</h3>
                <p>人脉&合作</p>
                <p>兴趣&商机</p>
                <p>融合&教育</p>
                <p>慈善&公益</p>
            </div>
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></h3>
                <h3>活动方向</h3>
                <p>学习充电</p>
                <p>商业机会</p>
                <p>人际拓展</p>
                <p>健康养生</p>
            </div>
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></h3>
                <h3>俱乐部定位</h3>
                <p>提供教育、生活、公益、商务等专项和整合服务的个人化高端俱乐部。
                    在全球范围内，与金融机构、投资公司、创业集团、知名智库、高等院校、权威财经传媒等，建立紧密合作联系。
                </p>
            </div>
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></h3>
                <h3>战略宗旨</h3>
                <p>提供生活、教育和商业的社交发展平台，打造一流企业家商务俱乐部；
                    构建会员之间沟通的桥梁，让会员获得商业信息、结交知己朋友、分享管理经营、体验品质生活；
                    凝聚会员道德共识和诚信力量，打造中国企业社会效应共赢平台。
                </p>
            </div>

        </div>

    </div>
    <!--全球知识资本企业家俱乐部-->
    <div class="full_section color_01 n_section jycp01 zygj01 mobileSlideBlock">
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title"> 全&nbsp; 球&nbsp; 知&nbsp; 识&nbsp; 资&nbsp; 本&nbsp; 企&nbsp; 业&nbsp; 家&nbsp; 俱&nbsp; 乐&nbsp;
                        部</h2>
                    <div class="text">
                        <h4>立足全球视角，为企业家提供教育、生活、公益、商务等专项和整合服务的个人化高端俱乐部。</h4>
                        <h4>提供生活、教育和商业的社交发展平台，构建会员之间沟通的桥梁，打造中国企业社会效应共赢平台。</h4>

                    </div>
                </div>
            </div>

        </div>
        <p>&nbsp;</p>
        <h2 style="text-align: center">俱乐部现有活动</h2>
        <div class="index_imgBox">
            <div class="wrap">
                <ul class="fix">

                    <li>
                        <a href="#">
                            <h3 class="s_title">专家分享会</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/images/11.jpg"
                                         alt="课程输出">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>目前已聘请鲁克教授成为全球知识资本企业家俱乐部首席战略官，定期安排专家为企业家排忧解难。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3 class="s_title">大师演讲</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/images/12.jpg"
                                         alt="课程输出">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>已与部分企业达成协议，开展德稻大师专题演讲。为企业家带来专业视角下的行业发展解析。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3 class="s_title">大师工作坊</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/images/13.jpg"
                                         alt="课程输出">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>将国际顶尖行业知识注入企业，提升企业所属行业知识储备。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3 class="s_title">德稻知识资本环球行</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/images/14.jpg"
                                         alt="课程输出">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>已制定美国行项目，涉及多位德稻大师、4座美国顶级学府，共创行业顶级交流活动。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3 class="s_title">德稻知识资本创新中心开业庆典</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/images/15.jpg"
                                         alt="课程输出">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>凝聚德稻行业资源，汇聚各方企业家。以群智破困局，以群力维共荣。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}