{% extends "base.html" %}
{% block center %}
    <div class="full_section color_01 n_section jycp01 zygj01 mobileSlideBlock">
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title"> 产&nbsp; 品&nbsp; 中&nbsp; 心&nbsp; </h2>
                    {#    color: #A5132A;   <div class="text">#}
                    {#        <p>德稻教育面向高校、教育机构以及个人<br>专注提供设计 时尚 艺术 商业 动漫 影视六大领域的创新教育内容和综合服务</p>#}
                    {#       </div>#}
                </div>
            </div>
            <div class="bd menu_bd">
                <div class="menus">
                    <div class="wrap">
                        <ul class=" fix">

                            <li {% if request.path == "/product/" %} class="cur" {% endif %}><a
                                    href="/product/">德稻知识资本</a></li>
                            <li {% if request.path == "/product/2/" %} class="cur" {% endif %}><a href="/product/2/">全球知识资本企业家俱乐部</a>
                            </li>
                            <li {% if request.path == "/product/3/" %} class="cur" {% endif %}><a href="/product/3/">德稻演讲</a>
                            </li>
                            <li {% if request.path == "/product/4/" %} class="cur" {% endif %}><a href="/product/4/">德稻知识资本创新中心</a>
                            </li>
                            <li {% if request.path == "/product/5/" %} class="cur" {% endif %}><a href="/product/5/">德稻特色小镇</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_imgBox">
            <div class="wrap">
                <ul class="fix">

                    <li>
                        <a href="/product/">
                            <h3 class="s_title">德稻知识资本</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/upload/images/2016/12/06/f6510e1cd35c4b9aa2a633ddf20b6dae.jpg"
                                         alt="专业共建">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>协同高校开展<br>校企合作学历教育项目</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/product/2/">
                            <h3 class="s_title">全球知识资本企业家俱乐部</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/upload/images/2016/11/15/dedfe33d4b9e40d2b8c23733579da636.jpg"
                                         alt="课程输出">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>行业大师领衔设计<br>国际先进课程</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="/product/3/"><h3 class="s_title">德稻演讲</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/upload/images/2016/11/15/4e559038a34f43c388e00a7c1f306d86.jpg"
                                     alt="线上课程">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>德稻独创O+O模式<br>双导师交互式教学 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li><a href="/product/4/"><h3 class="s_title">德稻知识资本创新中心</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/upload/images/2016/11/15/0224aa82c51247aba0a83e0ac529e1c2.jpg"
                                     alt="师资培训">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>整合国际教育资源<br>提供优质师资培训 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li><a href="/product/5/"><h3 class="s_title">德稻特色小镇</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/upload/images/2016/11/15/2a7b8da6077f445e9ea0747c86e1d791.jpg"
                                     alt="大师讲坛">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>高端演讲品牌<br>300余场精彩演讲</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="full_section color_02 n_section n_section_a2">
        <a class="jump" id="jump" name="jump"></a>
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    {% block title %}
                    {% endblock %}
                    <div class="text ">
                        <p>结合高校培养目标&nbsp;&nbsp;&nbsp; &nbsp; 大师领衔专业设计<br>与高校联合开展教学&nbsp;&nbsp;&nbsp; &nbsp; 教学水平与国际接轨
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block product %}
    {% endblock %}


{% endblock %}