{% extends "product_base.html" %}
{% block title %}
    <h2 class="title ">特&nbsp;色&nbsp;小&nbsp;镇</h2>
{% endblock %}
{% block product %}
    <!--德稻特色小镇-->
    <div class="full_section color_01 n_section dtjy01 mobileSlideBlock">
        <!--关于我们-->
        <div class="container" style="padding: 50px 0;text-align: center;font-size: 1.5em">
            <div>
                <p>已与绿地集团达成合作</p>
                <p><img src="/static/images/lvdi.png"></p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>特色鲜明的产业形态——创客创业中心</p>
                    <p>和谐宜居的美丽环境——旅游文化中心</p>
                    <p>彰显特色的传统文化——文化艺术中心</p>
                    <p>便捷完善的设施服务——综合服务中心</p>
                    <p>充满活力的体制机制——现代管理中心</p>
                </div>
            </div>

        </div>
        <!--关于我们-->
    </div>
    <!--德稻特色小镇-->


    <div class="full_section color_02 n_section zj_bg zygj06">
        <h2 class="title tc fadeInDown">德稻特色小镇研究院</h2>
    </div>
    <br/>
    <div class="full_section color_02 n_section zj_bg01 zygj07">
        <div class="wrap">
            <div class="yj_tab">

                <div class="yj_tac  tab_c tab_c_cur">
                    <div class="zyk_list">
                        <ul class="oh">
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="/static/upload/images/2017/03/15/07936214c6a8420fb223e6ae63e2f0db.jpg"
                                                alt="品牌管理与创新" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">方明</h2>
                                        <h3 class="_titEn">
                                            德稻特色小镇研究院院长，中国城市科学规划设计研究院院长参与住建部中国特色小镇评审标准的编写，做为专家组组长参与中国特色小镇评审。近年来，主要参与住房城乡建设部村镇领域相关试点示范工作。
                                        </h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="/static/upload/images/2017/03/15/d91badfd4e88482d94a8f7ac171c8d7a.jpg"
                                                alt="项目式教学概览" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">项目式教学概览</h2>
                                        <h3 class="_titEn">An Overview for Project-based Teaching</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="/static/upload/images/2017/03/15/e1a43c63188644168d315f5f8adc7a7e.jpg"
                                                alt="项目式教学案例" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">项目式教学案例</h2>
                                        <h3 class="_titEn">Case Studies for Project-based Teaching</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="/static/upload/images/2017/03/15/7ad2723d0b1b45a3acabb4c22928ca4e.jpg"
                                                alt="实践中的创新教学" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">实践中的创新教学</h2>
                                        <h3 class="_titEn">Creative Education in Practice</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="/static/upload/images/2016/12/05/4511186a7ed44fcb880e4d025f08ad47.jpg"
                                                alt="角色创作黄金法则" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">角色创作黄金法则</h2>
                                        <h3 class="_titEn">Golden Rules for Role Creation </h3></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}