{% extends "product_base.html" %}
{% block title %}
    <h2 class="title ">创&nbsp;新&nbsp;中&nbsp;心</h2>
{% endblock %}
{% block product %}
    <!--全球知识资本企业家俱乐部-->
    <div class="container" style="padding: 50px 0;text-align: center">

        <div class="row">
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>
                <h3>4大服务</h3>
                <p>基础服务</p>
                <p>创业辅导</p>
                <p>德稻依托</p>
                <p>后期资源</p>
            </div>
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></h3>
                <h3>核心优势</h3>
                <p>知识资本</p>
                <p>金融资本</p>
                <p>产业资本</p>
                <p>政府资源</p>
            </div>
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></h3>
                <h3>入驻程序</h3>
                <p>
                    入驻企业或者团队提交入驻申请表格，及营业执照、商业计划和书。
                    本众创空间对资料及入驻条件进行审查，三个工作日内给予答复是否同意。同意入驻的及办理手续，签订工位管理合同。
                    进行办公位、所有办公用品的交接。
                </p>
            </div>
            <div class="col-lg-6" style="padding: 20px">
                <h3 style="color: #2aabd2"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></h3>
                <h3>资源对接</h3>
                <p>
                    根据企业自身发展需要和问题点，对接德稻大师资源为企业提供量身定制的发展方案。
                    创投资本对接，定期和投资人沟通，组织开展德稻众创空间全要素对接会。

                </p>
            </div>

        </div>

    </div>
    <!--全球知识资本企业家俱乐部-->

    <!--德稻知识资本创新中心简介-->
    <div class="full_section color_01 n_section dtjy01 mobileSlideBlock">
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title">
                        德&nbsp;稻&nbsp;知&nbsp;识&nbsp;资&nbsp;本&nbsp;创&nbsp;新&nbsp;中&nbsp;心&nbsp;简&nbsp;介 </h2>
                </div>
            </div>
        </div>
        <!--关于我们-->
        <div class="container" style="padding: 50px 0;font-size: 1.3em">
            <div style="text-align: center; ">
                <p style="font-size: 30px">德稻知识资本创新中心简介</p>
                <p> &nbsp;</p>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <a href="#" class="img-thumbnail">
                        <img style="width: 100%" src="/static/images/cxzzlogo.png">
                    </a>
                </div>
                <div class="col-lg-9">
                    <p>
                        为更好促进中国的创新理念，德稻集团于松江大学城内设立上海德稻知识资本创新中心（稻田众创空间管理有限公司）。
                        以“集大家之所长，成境界之所见”为理念，整合德稻知识资本核心资源，为创客提供线上线下，高效率、精准化的创业全程指导。

                    </p>
                    <p> &nbsp;</p>

                </div>

                <div class="col-lg-12">
                    <p> &nbsp;</p>
                    <p>
                        德稻传媒作为德稻集团的全资子公司，依托德稻集团覆盖全球的创新资源以及知识资本体系，瞄准全国各行业翘楚，积极开展多领域下的创新实践，逐步建立起覆盖全行业的创新平台、促进中小企业转型与升级的知识资本服务平台、建立连通全球的金融服务平台，以及大师工作室等创新平台在内的全球行业服务网络体系，致力于为企业与行业提供知识资本市场化应用的综合解决方案。
                    </p>
                </div>
            </div>

        </div>
        <!--关于我们-->
    </div>
    <!--德稻知识资本创新中心简介-->
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-lg-12">
                <h2>入驻企业</h2>
            </div>
            <div class="col-lg-12">
                <img src="/static/images/rzqy.jpg">
            </div>
            <br/>
            <div class="col-lg-12">
                <h2>创新中心</h2>
            </div>
            <div class="col-lg-12">
                <img src="/static/images/cxzz1.jpg">
            </div>

        </div>
    </div>
{% endblock %}