{% extends "base.html" %}

{% block style %}
    <link href="/static/bootstarp/assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .index_imgBox .cover .cover_con {
            width: 100%;
        }

    </style>
{% endblock %}
{% block center %}
    <div class="full_section color_01 n_section jycp01 zygj01 mobileSlideBlock">
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    <h2 class="title"> 产&nbsp; 品&nbsp; 中&nbsp; 心&nbsp; </h2>
                    {#    color: #A5132A;   <div class="text">#}
                    {#        <p>德稻教育面向高校、教育机构以及个人<br>专注提供设计 时尚 艺术 商业 动漫 影视六大领域的创新教育内容和综合服务</p>#}
                    {#       </div>#}
                </div>
            </div>
            <div class="bd menu_bd">
                <div class="menus">
                    <div class="wrap">
                        <ul class=" fix">


                            <li {% if request.path == "/product/2/" %} class="cur" {% endif %}><a
                                    href="/product/2/#jump">全球知识资本企业家俱乐部</a>
                            </li>
                            <li {% if request.path == "/product/3/" %} class="cur" {% endif %}><a
                                    href="/product/3/#jump">德稻演讲</a>
                            </li>
                            <li {% if request.path == "/product/#jump" %} class="cur" {% endif %}><a
                                    href="/product/#jump">企业服务</a></li>
                            <li {% if request.path == "/product/4/" %} class="cur" {% endif %}><a
                                    href="/product/4/#jump">德稻知识资本创新中心</a>
                            </li>
                            <li {% if request.path == "/product/5/" %} class="cur" {% endif %}><a
                                    href="/product/5/#jump">德稻特色小镇</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_imgBox">
            <div class="wrap">
                <ul class="fix">


                    <li>
                        <a href="/product/2/#jump">
                            <h3 class="s_title">全球知识资本企业家俱乐部</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/images/2.jpg"
                                         alt="课程输出">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>提供教育、生活、公益、商务等专项和整合服务的个人化高端俱乐部。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="/product/3/#jump"><h3 class="s_title">德稻演讲</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/images/3.jpg"
                                     alt="线上课程">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>全球创新网络移动智库,中国线下演讲品牌领导者</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li>
                        <a href="/product/#jump">
                            <h3 class="s_title">企业服务</h3>
                            <div class="inline-box">
                                <div class="img">
                                    <img src="/static/images/1.jpg"
                                         alt="专业共建">
                                </div>
                                <div class="cover">
                                    <div class="cover_con">
                                        <div class="s_text">
                                            <p>以大师智慧为核心， 全力帮助中国企业凭借知识资本， 实现产业转型， 领先市场竞争。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="/product/4/#jump"><h3 class="s_title">德稻知识资本创新中心</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/images/4.jpg"
                                     alt="师资培训">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>整合德稻知识资本核心资源，为创客提供线上线下，高效率、精准化的创业全程指导。 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li><a href="/product/5/#jump"><h3 class="s_title">德稻特色小镇</h3>
                        <div class="inline-box">
                            <div class="img">
                                <img src="/static/images/5.jpg"
                                     alt="大师讲坛">
                            </div>
                            <div class="cover">
                                <div class="cover_con">
                                    <div class="s_text">
                                        <p>已开启与碧桂园、时代地产、绿地地产的合作</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="full_section color_02 n_section n_section_a2">
        <a class="jump" id="jump" name="jump"></a>
        <div class="box">
            <div class="hd">
                <div class="wrap">
                    {% block title %}
                    {% endblock %}
                    <div class="text ">
                        <p>结合高校培养目标&nbsp;&nbsp;&nbsp; &nbsp; 大师领衔专业设计<br>与高校联合开展教学&nbsp;&nbsp;&nbsp; &nbsp; 教学水平与国际接轨
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block product %}
    {% endblock %}


{% endblock %}