{% extends "product_base.html" %}
{% block title %}
    <h2 class="title ">德&nbsp;稻&nbsp;特&nbsp;色&nbsp;小&nbsp;镇</h2>
{% endblock %}
{% block product %}
    <!--德稻特色小镇-->
    <div class="full_section color_01 n_section dtjy01 mobileSlideBlock">
        <!--关于我们-->
        <div class="container" style="padding: 50px 0;text-align: center;font-size: 1.5em">
            <div>
                <p>已与绿地集团达成合作</p>
                <p><img src="/static/images/lvdi.png"></p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>特色鲜明的产业形态——创客创业中心</p>
                    <p>和谐宜居的美丽环境——旅游文化中心</p>
                    <p>彰显特色的传统文化——文化艺术中心</p>
                    <p>便捷完善的设施服务——综合服务中心</p>
                    <p>充满活力的体制机制——现代管理中心</p>
                </div>
            </div>

        </div>
        <!--关于我们-->
    </div>
    <!--德稻特色小镇-->


    <div class="full_section color_02 n_section zj_bg zygj06">
        <h2 class="title tc fadeInDown">德稻特色小镇研究院</h2>
    </div>
    <div class="full_section color_02 n_section zj_bg01 zygj07">
        <div class="wrap">
            <div class="yj_tab">
                <ul class="yj_tabTit tc">
                    <li><a href="#">全部</a></li>
                    <li><a href="#">动画</a></li>
                    <li><a href="#">影视</a></li>
                    <li><a href="#">时尚</a></li>
                    <li><a href="#">设计</a></li>
                    <li><a href="#">艺术</a></li>
                </ul>
                <!-- 14630课程输出957/14632师资培训956/14629专业共建949 -->
                <div class="yj_tac">
                    <div class="zyk_list">
                        <ul class="oh">
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\07936214c6a8420fb223e6ae63e2f0db.jpg"
                                                alt="品牌管理与创新" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">品牌管理与创新</h2>
                                        <h3 class="_titEn">Brand Management and Innovation</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\d91badfd4e88482d94a8f7ac171c8d7a.jpg"
                                                alt="项目式教学概览" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">项目式教学概览</h2>
                                        <h3 class="_titEn">An Overview for Project-based Teaching</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\e1a43c63188644168d315f5f8adc7a7e.jpg"
                                                alt="项目式教学案例" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">项目式教学案例</h2>
                                        <h3 class="_titEn">Case Studies for Project-based Teaching</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\7ad2723d0b1b45a3acabb4c22928ca4e.jpg"
                                                alt="实践中的创新教学" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">实践中的创新教学</h2>
                                        <h3 class="_titEn">Creative Education in Practice</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\c777314fb2cb46a6b17199bac43d3dcc.jpg"
                                                alt="创新设计理论与方法" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">创新设计理论与方法</h2>
                                        <h3 class="_titEn">Innovative Design Theory and Methods</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\1f8635ceefa74811b776b15dae114ead.jpg"
                                                alt="主控式创新方法及应用" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">主控式创新方法及应用</h2>
                                        <h3 class="_titEn">Dominant Innovation: Methods &amp; Applications</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\d13b9d5a470f44a69dbb830405ceb009.jpg"
                                                alt="时尚营销" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">时尚营销</h2>
                                        <h3 class="_titEn">Fashion Promotion</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\dc02b3d9eb864218b171a0f80a35b50d.jpg"
                                                alt="编舞创意" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">编舞创意</h2>
                                        <h3 class="_titEn">Innovative Choreography</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\4b8ee25b458c4b71ae707a1bdf58acbc.jpg"
                                                alt="电子音乐的实践与创新" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">电子音乐的实践与创新</h2>
                                        <h3 class="_titEn">Practice and Innovation for Electronic Music</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\ba5325983a42411c96c34502b305a150.jpg"
                                                alt="剧本写作黄金法则" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">剧本写作黄金法则</h2>
                                        <h3 class="_titEn">Golden Rules for Screenplay</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\4511186a7ed44fcb880e4d025f08ad47.jpg"
                                                alt="角色创作黄金法则" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">角色创作黄金法则</h2>
                                        <h3 class="_titEn">Golden Rules for Role Creation </h3></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="yj_tac">
                    <div class="zyk_list">
                        <ul class="oh">
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\ba5325983a42411c96c34502b305a150.jpg"
                                                alt="剧本写作黄金法则" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">剧本写作黄金法则</h2>
                                        <h3 class="_titEn">Golden Rules for Screenplay</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\4511186a7ed44fcb880e4d025f08ad47.jpg"
                                                alt="角色创作黄金法则" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">角色创作黄金法则</h2>
                                        <h3 class="_titEn">Golden Rules for Role Creation </h3></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="yj_tac">
                    <div class="zyk_list">
                        <ul class="oh">
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\4b8ee25b458c4b71ae707a1bdf58acbc.jpg"
                                                alt="电子音乐的实践与创新" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">电子音乐的实践与创新</h2>
                                        <h3 class="_titEn">Practice and Innovation for Electronic Music</h3></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="yj_tac">
                    <div class="zyk_list">
                        <ul class="oh">
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\d13b9d5a470f44a69dbb830405ceb009.jpg"
                                                alt="时尚营销" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">时尚营销</h2>
                                        <h3 class="_titEn">Fashion Promotion</h3></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="yj_tac">
                    <div class="zyk_list">
                        <ul class="oh">
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\07936214c6a8420fb223e6ae63e2f0db.jpg"
                                                alt="品牌管理与创新" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">品牌管理与创新</h2>
                                        <h3 class="_titEn">Brand Management and Innovation</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\d91badfd4e88482d94a8f7ac171c8d7a.jpg"
                                                alt="项目式教学概览" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">项目式教学概览</h2>
                                        <h3 class="_titEn">An Overview for Project-based Teaching</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\e1a43c63188644168d315f5f8adc7a7e.jpg"
                                                alt="项目式教学案例" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">项目式教学案例</h2>
                                        <h3 class="_titEn">Case Studies for Project-based Teaching</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2017\03\15\7ad2723d0b1b45a3acabb4c22928ca4e.jpg"
                                                alt="实践中的创新教学" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">实践中的创新教学</h2>
                                        <h3 class="_titEn">Creative Education in Practice</h3></a>
                                </div>
                            </li>
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\c777314fb2cb46a6b17199bac43d3dcc.jpg"
                                                alt="创新设计理论与方法" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">创新设计理论与方法</h2>
                                        <h3 class="_titEn">Innovative Design Theory and Methods</h3></a>
                                </div>
                            </li>
                            <li class="odd">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\1f8635ceefa74811b776b15dae114ead.jpg"
                                                alt="主控式创新方法及应用" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">主控式创新方法及应用</h2>
                                        <h3 class="_titEn">Dominant Innovation: Methods &amp; Applications</h3></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="yj_tac">
                    <div class="zyk_list">
                        <ul class="oh">
                            <li class="">
                                <div class="box pr oh">
                                    <div class="img l">
                                        <a href="javascript:void(0);" class="rect-100 imgZoom"><img
                                                src="..\upload\images\2016\12\05\dc02b3d9eb864218b171a0f80a35b50d.jpg"
                                                alt="编舞创意" class="_full"> </a>
                                    </div>
                                    <a href="javascript:void(0);" class="info"><h2 class="_title el">编舞创意</h2>
                                        <h3 class="_titEn">Innovative Choreography</h3></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}