{% extends "product_base.html" %}
{% block title %}
    <h2 class="title "> 企&nbsp;业&nbsp;服&nbsp;务 </h2>
{% endblock %}
{% block product %}
    <!--德稻知识资本-->
    <div class="container" style="padding: 50px 0;">
        <div style="text-align: center; ">
            <p style="font-size: 30px">企业服务</p>
            <p> &nbsp;</p>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <a href="#" class="img-thumbnail">
                    <img style="width: 100%" src="/static/about.png">
                </a>
            </div>
            <div class="col-lg-7" style="font-size: 16px">
                <p>
                    知识资本是产品和服务的创造过程中所有知识性和技术性的投入，主要体现在： 设计、研发、品牌、大数据、艺术等五大方面。
                </p>
                <p>
                    德稻知识资本以大师智慧为核心， 全力帮助中国企业凭借知识资本， 实现产业转型， 领先市场竞争。
                </p>
                <br/>
                <p>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">大师专利</div>
                    <div class="col-lg-2">大师产品</div>
                    <div class="col-lg-2">大师方案</div>
                    <div class="col-lg-2">大师技术</div>
                    <div class="col-lg-2">大师设计</div>
                </div>
                </p>
                <p style="text-align: center;">
                    德稻知识资本作为风险投资助力企业发展
                </p>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10"><img src="/static/images/iages.png"></div>
                </div>
                <p>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">知识资本</div>
                    <div class="col-lg-2">产业资本</div>
                    <div class="col-lg-2">金融资本</div>
                    <div class="col-lg-2">人才资本</div>
                    <div class="col-lg-2">自然资本</div>
                </div>
                </p>

            </div>
        </div>

    </div>
    <!--德稻知识资本-->
{% endblock %}