<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="/static/test/css/lib.css" type="text/css" media="screen" title="no title"
          charset="utf-8">
    {#<script type="text/javascript" src="/static/test/js/jquery-1.7.2.min.js"></script>#}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/test/js/jquery.ez-bg-resize.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstarp/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/bootstarp/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstarp/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {#    <script type="text/javascript">#}
    {#        $(document).ready(function () {#}
    {#            $("body").ezBgResize({#}
    {#                img: "/static/test/image/bg.jpg",#}
    {#                opacity: 1, // Opacity. 1 = 100%.  This is optional.#}
    {#                center: true // Boolean (true or false). This is optional. Default is true.#}
    {#            });#}
    {#        });#}
    {#    </script>#}
</head>
<body>
<input type="button" value="aasf" onclick="up()">
<div id="preview"></div>
<div style="height: 400px"></div>
<form id="form1" action="/test/" method="POST" enctype="multipart/form-data" target="ifm1">
    {% csrf_token %}
    <iframe id="ifm1" name="ifm1" style="display: block;"></iframe>
    <input id="up" type="file" name="avatar" onchange="changeUpalod();"/>
</form>


<script>window.jQuery || document.write('<script src="/static/bootstarp/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/bootstarp/assets/js/ie10-viewport-bug-workaround.js"></script>
<script>
    function up() {
        $("#up").click()
    }
    function changeUpalod() {
        $('#ifm1').load(function () {
            var text = $('#ifm1').contents().find('body').text();
            var obj = JSON.parse(text);
            console.log(obj);
            $('#preview').empty();
            var imgTag = document.createElement('img');
            imgTag.src = obj.data;
            $('#preview').append(imgTag);
        });
        $('#form1').submit();
    }

    function jqSubmit() {
        // $('#fafafa')[0]
        var file_obj = document.getElementById('fafafa').files[0];

        var fd = new FormData();
        fd.append('username', 'root');
        fd.append('fafafa', file_obj);

        $.ajax({
            url: '/upload_file/',
            type: 'POST',
            data: fd,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (arg, a1, a2) {
                console.log(arg);
                console.log(a1);
                console.log(a2);
            }
        })
    }

    function xhrSubmit() {
        // $('#fafafa')[0]
        var file_obj = document.getElementById('fafafa').files[0];

        var fd = new FormData();
        fd.append('username', 'root');
        fd.append('fafafa', file_obj);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload_file/', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                // 接收完毕
                var obj = JSON.parse(xhr.responseText);
                console.log(obj);
            }
        };
        xhr.send(fd);
    }

    function iframeSubmit() {
        $('#ifm1').load(function () {
            var text = $('#ifm1').contents().find('body').text();
            var obj = JSON.parse(text);

            $('#preview').empty();
            var imgTag = document.createElement('img');
            imgTag.src = "/" + obj.data;
            $('#preview').append(imgTag);
        })
    }

</script>
</body>
</html>
