<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>test</title>
<link rel="stylesheet" href="/static/test/css/lib.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" src="/static/test/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/test/js/jquery.ez-bg-resize.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("body").ezBgResize({
		img     : "/static/test/image/bg.jpg", // Relative path example.  You could also use an absolute url (http://...).
		opacity : 1, // Opacity. 1 = 100%.  This is optional.
		center  : true // Boolean (true or false). This is optional. Default is true.
	});
});
</script>
</head>
<body>

</div>
</body>
</html>
